#:schema node_modules/wrangler/config-schema.json
name = "twikoo-cloudflare"
main = "src/index.js"
compatibility_flags = ["nodejs_compat"]
compatibility_date = "2024-09-23"

[[d1_databases]]
binding = "DB" # available in your Worker on env.DB
database_name = "twikoo"
database_id = "702f30fe-3edc-4266-9d20-328614c7de55"

[vars]
# If you need to expose an external public URL for uploads, set it here.
# R2_PUBLIC_URL = "https://your.r2.public.url"

[dev]
port = 5000
